<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="PrototipoFuncionalClubeDeJudoDragao.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ModelDiagramaBDContainer" connectionString="metadata=res://*/ModelDiagramaBD.csdl|res://*/ModelDiagramaBD.ssdl|res://*/ModelDiagramaBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=PrototipoFuncional;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<userSettings>
        <PrototipoFuncionalClubeDeJudoDragao.Properties.Settings>
            <setting name="DataInicio" serializeAs="String">
                <value />
            </setting>
            <setting name="DataFim" serializeAs="String">
                <value />
            </setting>
            <setting name="RadioTipo" serializeAs="String">
                <value />
            </setting>
            <setting name="DataExame" serializeAs="String">
                <value />
            </setting>
            <setting name="CodigoClube" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LicencaFederativa" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EscalaoInicio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EscalaoFim" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpcaoPesquisa" serializeAs="String">
                <value />
            </setting>
            <setting name="CodigoAtletaInicio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CodigoAtletaFim" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LicencaInicio" serializeAs="String">
                <value />
            </setting>
            <setting name="LicencaFim" serializeAs="String">
                <value />
            </setting>
            <setting name="RadioNivel" serializeAs="String">
                <value />
            </setting>
            <setting name="RadioGraduacao" serializeAs="String">
                <value />
            </setting>
            <setting name="RadioTipoSituacao" serializeAs="String">
                <value />
            </setting>
            <setting name="MesAniversario" serializeAs="String">
                <value />
            </setting>
        </PrototipoFuncionalClubeDeJudoDragao.Properties.Settings>
    </userSettings>
</configuration>